body {
	text-align: center;
	color: black;
	font-size: 3vmin; /* scales with smaller display dimension */
	width: 100%; /* prevents premature word wrapping when page gets small */
	background-color: white;
	overflow: auto;
	overflow-y: auto;
	overflow-x: hidden; /* hides little scrollbar at bottom */
}

textarea {
	width: 75%;
	height: 150px;
	padding: 12px 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 4px;
	background-color: #defbff;
	resize: none;
	font-family:"sans-serif", Arial;
	font-size: 125%;
}

img {
	max-width: 50%;
	height: auto;
}

/* a fatter space between elements */
div.fat {
	line-height: 150%;
}

/* a standard space between elements */
div.slim {
	line-height: 75%;
}

/*********************************/
/* Settings management interface */
/*********************************/

/* Settings button */
#input-text-container {
	/* parent of settings-image must be relative for it be relatively absolute */
	position: relative; 
}
#settings-image {
	position: absolute;
	/* textareas are 75% width, so 12.5% inward per side */
	right: 12.5%; 
	margin-top: 9px;
	height: 50px;
	width: 50px;
}

/* Settings overlay */
#settings-overlay-background {
	position: fixed; /* Sit on top of the page content */
	display: none; /* Hidden by default */
	width: 100%; /* Full width (cover the whole page) */
	height: 100%; /* Full height (cover the whole page) */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5); /* Black background with opacity */
	z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
	cursor: pointer; /* Add a pointer on hover */
}
#settings-overlay-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: white;
	/* Minimum width for settings menu */
	/* width: 30%; */
	/* height: 30%; */
}

/* Suffix-prefix setting */
.custom-suffix-prefix-setting-button {
	height: 3em;
	width: 3em;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 4px;
	background-color: #defbff;
	font-size: 1em;
	font-family:"sans-serif", Arial;

	margin: 2.5px;
	margin-left: 2.5px;
	margin-right: 2.5px;
}
